* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	background-color: #f7f7f7;
	color: #444444;
	font-family: sans-serif;
	font-size: 12pt;
	line-spacing: 1.62em;
}
main {
	width: 800px;
	margin: 50px auto;
}
h1 {
	color: #232E4C;
	font-size: 3.24em;
	margin: 10px 0 10px 0;
}
h2 {
	font-family: baskerville, serif;
	font-size: 1.62em;
	font-style: italic;
	font-weight: normal;
	color: #516AB0;
	margin: 15px 0 10px 0;
}
p { margin: 5px 0 5px 0; }
a { color: #52A5C7; }
figure { margin:0 0 2em 0; }
ul { list-style-type: none; }
img { width: 400px; }
