* { margin:0; padding:0; box-sizing: border-box; }
body {
	background: url("sugarpine/coffeebkg2.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: #0e0a07;
	color: #DDC6B3;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1em;
}
html {height: 100%;} /*not sure why, but this was the only way I could figure out to get the background to cover and keep the height at 100%.*/
#logo {
	width: 300px;
}
main {
	margin: 100px auto;
	width: 400px;
	background-color: rgba(16,11,8,.5);
	padding: 50px;
	border-radius: 10px;
}
h2 {
	font-family: 'Laila', serif;
	font-weight: 300;
	line-height: 162%;
	font-size: 1.62em;
}
p {
	line-height: 162%;
	width: 300px;
}