* { margin:0; padding:0; box-sizing: border-box; }
body {
	background: rgb(83, 90, 106); /* should really be used as background-color. "background" is used when you want to include multiple properties on the same line. something like background: url(....) no-repeat rgb(83,90,106);  when using multiple backgrounds it's easier to split things apart into seperate lines.*/
	background-image: url(Unit3ProjectAssets/Assets/stripes.png), url(Unit3ProjectAssets/Assets/background.jpg);
	background-position: top left, right bottom; /* auto, cover */
	background-repeat: repeat-x, no-repeat;
	background-attachment: fixed; /* don't need this */

}
main {
	max-width: 1000px; /* width */
	height: 315px; /* don't need a height */
	position: absolute; /* don't absolute position major html elements unless absolutely necessary */
/* 	top: 0;
	bottom: 0;
	right: 0;
	left: 0;  -- remove everything in here. also, when you absolute position something you only need a max of 2 of these. putting all 4 will cause errors */
	margin: auto; /* something like margin:0 auto 0 auto; will center a block element such as <main> */
	padding: 50px;
}
h1 {
	margin: 0 0 10px 0;
}
hr {
	background-color: rgb(239, 133, 127); /* border: 1.5px rgb(239,133,127) solid; */
	height: 3px; /* remove */
	border: 0; /* remove */
	width: 50px;
	margin: 20px 0 20px 0;
}
a {
	/* don't need to format anything if you don't want to */
}
p {
	font-size: 20px;
	color: white;
	font-family: helvetica, sans serif;
	margin: 20px 0 20px 0; /* can write this as margin:20px 0; */
	line-height: 150%; /* golden ratio is better here */
}
/*  good thought process here, i can explain responsiveness in a 1:1 later if you would like
@media (max-width: 1050px) {
	body {
		background-image: url(Unit3ProjectAssets/Assets/stripes.png), url(Unit3ProjectAssets/Assets/background4.png);
		background-size: 500px 13px, constrain;
		background-position: top left, center bottom;
	}
	p {
		width: 250px;
		text-align: center;
	}
	hr {margin: 0 auto;}
	h1 {text-align: center;}
	main {
		background-color: rgba(61,71,86,.75);
		margin: 50px auto;
		width: 350px;
	}
}
@media (max-width: 500px) {
	#download {
		width: 200px;
	}
	p {
		width: 200px;
		font-size: 16px;
	}
	main {
		width: 300px;
	}
}
*/







