* { margin:0; padding:0; box-sizing: border-box; }

/* I tried the changes you told me to do, but it didn't work. Or it looked like it didn't on my browser, at least. So I'm just submitting as is for now. */
body {
	background:url(Unit3ProjectAssets/Assets/stripes.png) repeat-x, url(Unit3ProjectAssets/Assets/background.jpg) no-repeat rgb(83, 90, 106);
	background-size: auto, cover;
	height:100vh;
}
section {
	width: 1000px;
	height:400px;
	margin:0 auto;
}
h1 {
	margin: 0 0 10px 0;
}
hr {
	background-color: rgb(239, 133, 127);
	height: 3px;
	border: 0;
	width: 50px;
	margin: 20px 0 20px 0;
}
p {
	font-size: 20px;
	color: white;
	font-family: helvetica, sans serif;
	margin: 20px 0 20px 0;
	line-height: 1.62em;
}
.transform {
	position: relative;
	top:50%;
	transform: translateY(-50%);
}
/*
@media (max-width: 1050px) {
	body {
		background-image: url(Unit3ProjectAssets/Assets/stripes.png), url(Unit3ProjectAssets/Assets/background4.png);
		background-size: 500px 13px, constrain;
		background-position: top left, center bottom;
	}
	p {
		width: 250px;
		text-align: center;
	}
	hr {margin: 0 auto;}
	h1 {text-align: center;}
	main {
		background-color: rgba(61,71,86,.75);
		margin: 50px auto;
		width: 350px;
	}
}
@media (max-width: 500px) {
	#download {
		width: 200px;
	}
	p {
		width: 200px;
		font-size: 16px;
	}
	main {
		width: 300px;
	}
}
*/







